@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kaushan Script";
  src: url("../assets/fonts/kaushan/KaushanScript-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* @media (max-width: 992px) {
  html {
    background: red;
  }
} */
